@import url('https://fonts.googleapis.com/css?family=Kanit:900');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', sans-serif;
	background: #f5f5f7;
}

a {
	text-decoration: none;
	color: #f7775d;
}

#header {
	display: flex;
	align-items: center;
	/*background: green;*/
	flex: 1 1 auto;
}

nav {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	/*height: 100px;*/
	/*background: red;*/
	/*align-self: flex-end;*/
}

nav p {
	flex-grow: 1;
	height: 100%;
	margin: 0;
}

#main {
	padding: 10px;
}

#main h2 {
	margin: 24px 5px;
}

.logo {
	display: flex;
	width: 80px;
	font-size: 48px;
	flex-wrap: wrap;
	flex-direction: row;
	font-family: 'Kanit', sans-serif;
	color: #222;
	margin: 10px;
	font-weight: 900;
	/*border: 2px solid #aaa;*/
	/*border-radius: 3px;*/
}

.logo__letter {
	display: flex;
	justify-content: center;
	width: 50%;
	line-height: 0.84;
	/*border-bottom: 1px solid #222;*/
}

.logo__letter--box {
	flex: 1 1 auto;
	background: black;
	margin: 4px;
	border-radius: 3px;
	z-index: 10;
}

.logo__letter--box:hover {
	background: #f7775d;
}


.page-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.page {
	background: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: row;
	border: 1px solid #d5d5d5;
	padding: 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.3);
}

.row {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
}

.col {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.element {
	background: #d5d5d9;
	margin: 4px;
	flex: 1 1 auto;
	border-radius: 3px;
}

.big {
	flex-grow: 2;
}

.page header, .page footer {
	height: 18%;
	flex: 0 1 auto;
}